//---------------------- MOBILE - PORTRAIT ----------------------
body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-areas:
        "header header" "main   main" "footer footer";
}

header {
    grid-area: header;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 2fr 1fr;

    .logo {
        align-self: center;
    }
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        "site-map" "social-media" "terms-and-conditions" "developer";

    .site-map {
        grid-area: site-map;
    }

    .social-media {
        grid-area: social-media;
    }

    .terms-and-conditions {
        grid-area: terms-and-conditions;
    }

    .developer {
        grid-area: developer;
    }
}

//---------------------- MOBILE - LANDSCAPE ----------------------
