//----------------- BASE FONT -----------------
$Raleway: 12px/1.5em 'Raleway', sans-serif;
$Raleway-Italic: 1.0em/1.5em 'Raleway Italic', sans-serif;

//----------------- DERIVATIVE FONTS (using base's font size with ems) -----------------
$Raleway-Thin: 1.0em/1.5em 'Raleway Thin', sans-serif;
$Raleway-Thin-Italic: 1.0em/1.5em 'Raleway Thin Italic', sans-serif;

$Raleway-Extra-Light: 1.0em/1.5em 'Raleway Extra Light', sans-serif;
$Raleway-Extra-Light-Italic: 1.0em/1.5em 'Raleway Extra Light Italic', sans-serif;

$Raleway-Light: 1.0em/1.5em 'Raleway Light', sans-serif;
$Raleway-Light-Italic: 1.0em/1.5em 'Raleway Light Italic', sans-serif;

// Pallette 1
$p1c1: #cb997e;
$p1c2: #eddcd2;
$p1c3: #fff1e6;
$p1c4: #f0efeb;
$p1c5: #ddbea9;
$p1c6: #a5a58d;
$p1c7: #b7b7a4;
$p1c8: #6b705c;

// Pallette 2
$p2c1: #22223b;
$p2c2: #4a4e69;
$p2c3: #9a8c98;
$p2c4: #c9ada7;
$p2c5: #f2e9e4;
