@model ColorIM
<tr>
  <td>7</td>
  <td>
    <p class="form-group">
      <input asp-for="Name" type="text" placeholder="Name" class="form-control" />
      <span asp-validation-for="Name" class="text-danger"></span>
    </p>
  </td>

  <td>
    <p class="form-group">
      <input asp-for="HexValue" type="text" placeholder="HexValue" class="form-control" />
      <span asp-validation-for="HexValue" class="text-danger"></span>
    </p>
  </td>

  <td>
    <button type="button" form="create-color-form" class="btn btn-success">Добави</button>
    <button id="cancel" type="button" class="btn btn-danger">Премахни</button>
  </td>
</tr>
